

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.navSec{
    width: 100%;
    height: 10vh;
    background-color: #1858A8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer{
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.menuSec{

    margin: 2rem auto;
    width: 100%;
    height: 10vh;
    background-color: #fff;

    display: flex;
    padding-left: 10rem;
    align-items: center;
    gap: 1.5rem;
}



.applySec{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards1Sec{
    width: 80%;
    height: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #ba0d0d; */
}



.learnSec{
    margin: 0 auto 2rem auto;
    padding: 4rem 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}


.newsSec{
    width: 70%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;    
    
}


.photoSec{
    width: 100%;
    height: fit-content;
    padding: 4rem 0;
    background-color: #1858A8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photoCont{
    width: 80%;
    height: 500px;
    border-radius: 8px;
    padding: 0 0 2rem 2rem;
    background-image: url('../assets/img7.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.whiteCard{
    width: 40%;
    height: 30vh;
    padding: 2rem;
    background-color: #FFF;
    border-top: 4px solid #F58420;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.whiteCard h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333333;
}