*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.navSec{
    width: 100%;
    height: 10vh;
    background-color: #1858A8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer{
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.menuSec{

    margin: 2rem auto;
    width: 100%;
    height: 10vh;
    background-color: #fff;

    display: flex;
    padding-left: 10rem;
    align-items: center;
    gap: 1.5rem;
}



.applySec{
    margin: 0 auto;
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards1Sec{
    width: 80%;
    height: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #ba0d0d; */
}



.learnSec{
    margin: 0 auto 2rem auto;
    padding: 4rem 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}