.strokeCir{
    width: 40px;
    height: 40px;
    border: 2px solid #0060ae69;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* prevent the circle from stretching in flex layouts */
    flex: 0 0 40px;
    overflow: hidden;
}

